@import '../../../shared/lib.less';

.add-component-button {
  background-color: rgb(247, 245, 245);
  border-radius: 10px;
  border: none;
  box-shadow: @box-shadow-base;
  width: 150px;
  height: 150px;

  &__icon {
    cursor: pointer;
  }
}
