@import '../../../shared/lib.scss';

.add-component-button {
  background-color: $primary-color;
  border-radius: 10px;
  box-shadow: $box-shadow-base;
  width: 70px;
  height: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 21;
  margin: 15px;
  right: 0;
  bottom: 0;

  &__icon {
    cursor: pointer;
  }
}
