@import '../../../shared/lib.scss';

.project-card {
  display: flex;
  border: 1px solid $border-color-base;
  border-radius: 10px;
  justify-content: space-between;
  align-items: center;
  padding: 0 0.7em;
  font-size: 13px;
  background-color: #fff;
  box-shadow: $box-shadow-base;

  p {
    margin: 0;
  }

  .title-container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
  }

  .ant-btn {
    height: 20px;
  }

  .card-section {
    margin: 0.5em;

    &.icon {
      width: 35px;
    }

    &.main {
      flex-grow: 2;
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-wrap: wrap;

      @media (max-width: 750px) {
        flex-direction: column;
        align-items: flex-start;
        width: auto;
      }
    }

    &.stats {
      line-height: 1.5em;
      width: 95px;
      margin-left: 0.5em;
    }

    &.arrow {
      opacity: 0.6;

      &:hover {
        opacity: 1;
      }
    }
  }

  .main-info {
    width: 360px;

    @media (max-width: 750px) {
      width: auto;
    }
  }

  .org {
    font-weight: 500;
  }

  .description {
    padding: 0;
  }

  .name {
    font-weight: 500;
    font-size: 15px;
  }

  .edit-button {
    border: none;
    outline-style: none;
    margin-left: 0.5em;
    cursor: pointer;
    opacity: 0.6;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: inherit;

    &:hover {
      opacity: 1;
    }
  }
}
