@import '../../../shared/lib.scss';

.resources-list {
  height: 420px;
  overflow-y: scroll;
  width: 67%;
  border-left: 1px solid $border-color-base;

  &__resources {
    padding-left: 20px;
  }
}
