@import '../../../shared/lib.less';

.resources-list {
  display: flex;

  &__resources {
    border-left: 1px solid @border-color-base;
    padding-left: 10px;
    width: 65%;
  }

  &__controls {
    width: 35%;
  }
}
