@import '../../../shared/lib.less';

.resources-list {
  display: flex;
  height: 330px;

  &__resources {
    border-left: 1px solid @border-color-base;
    padding-left: 10px;
    width: 65%;
    overflow-y: scroll;
  }

  &__controls {
    width: 35%;
  }
}
