

.Login {
  background-color: #fff;
  margin: auto;
  width: 300px;
  margin-top: 10%;

  .login-logo {
    margin: auto;
    padding: 1em;
    height: 70px;
  }

  .login-button {
    svg {
      color: #fff;
    }
  }

  .message {
    text-align: center;
  }

  .realm-holder {
    padding-top: 0.5em;
  }

  .actions {
    display: block;
    text-align: center;
    padding-top: 0.3rem;
  }

  .realm {
    color: #0083cb;
    text-decoration: underline;
    text-decoration-style: dotted;
    cursor: pointer;
  }
}
