@import '../../lib.less';

.ant-image-preview-img-wrapper {
  margin-bottom: 130px !important;
  margin-top: 50px !important;
}
.file-info-wrapper {
  display: flex;
  .file-info-menu {
    float:right;
    :first-child {
      background: #003A8C;
    }
    :last-child {
      background: #0050B3;
    }
    .button-blend {      
      // background-color: rgba(255, 255, 255, 0.2);
      border: none;
      display: block;
      margin: 4px;
      :last-child {
        background: #003A8C;
      }
      :first-child {
        background: #0050B3;
      }
      span {
        background:none;
        color: rgba(255, 255, 255, 1);
      }
    }
  }
  .file-info {
    width: 100%;
    padding: 20px;
    display: flex;
    background-color: @fusion-menu-color;
    color: @fusion-background-color;
    .file-metadata {
      flex: 1;
      .last-updated,
      .last-updated-by {
        color: @fusion-secondary-color;
      }
    }
    .description-container {
      flex: 3;
      .description-text {
        &__minified {
          max-height: 80px;
          overflow: hidden;
        }
        &__expanded {
          max-height: 600px;
        }
      }
    }
  }
}

