# Cache files
.cache/

# macOS specific files
.DS_Store

# Environment files
.env*

# Distribution/build files
dist/
dist_refresh/

# Plugins directory
/plugins/

# Packagge manager files
node_modules/
yarn-error.log

# Storybook files
storybook-static/

# Testing files
coverage/
cypress/screenshots/
cypress/videos/
cypress.env.json
cypress/downloads/

# Editor-specific files
.vscode/
*.iml
.idea/

# Others
*.sops*
.sops-*.*
*.key
*.asdcas
dist_refresh/manifest.json
