{
  "use_existing_delta_instance": true,
  "NEXUS_API_URL": "https:/path.to.nexus/v1",
  "users": {
    "morty": {
      "username": "abc",
      "password": "123",
      "realm": {
        "name": "Local",
        "baseUrl": "https://realm.path/"
      }
    },
    "morpheus": {
      "username": "abc",
      "password": "123",
      "realm": {
        "name": "Local",
        "baseUrl": "https://realm.path/"
      }
    }
  }
}
