{
  "use_existing_delta_instance": true,
  "NEXUS_API_URL": "https://dev.nise.bbp.epfl.ch/nexus/v1",
  "users": {
    "morty": {
      "username": "localuser",
      "password": "localuser",
      "realm": { "name": "Local", "baseUrl": "https://dev.nise.bbp.epfl.ch/" }
    },
    "morpheus": {
      "username": "localuser",
      "password": "localuser",
      "realm": { "name": "Local", "baseUrl": "https://dev.nise.bbp.epfl.ch/" }
    }
  }
}