.custom-plugins {
  margin-top: 8px;
  margin-left: 10px;
}
.customise-studio-plugins-label {
  display: block;
}
.plugin-options {
  margin-bottom: 15px;

  &__switch {
    margin-bottom: 0;
  }
  &__expand {
    border: none;
    background: transparent;
    width: auto;
    height: auto;
    padding: 0;
    box-shadow: none;
    -webkit-appearance: none !important;
  }
}
