@import '../../../shared/lib.scss';

.studio-workspace-list {
  .workspace-title {
    color: $link-color;
  }

  .list-item:last-child > p {
    margin-bottom: 0;
  }

  .no-workspaces-message {
    margin-bottom: 0;
  }
}
