@import '../../../shared/lib.scss';

.facet-group {
  h4 {
    display: flex;
    justify-content: space-between;
    cursor: pointer;
  }
  .item {
    cursor: pointer;
    margin-bottom: 0.5em;
    width: 100%;
    display: flex;
    justify-content: space-between;
    .label {
      flex-grow: 1;
      margin: 0 0.5em;
      max-width: 200px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  .chevron {
    transition: $transition-all-bouncy;
    &.hidden {
      transform: rotate(-90deg);
    }
    &.empty {
      color: $disabled-color;
    }
  }
}
