@import '../../lib.less';

/**
*
*/
.clickable-container {
  cursor: pointer;
}

/**
* ResourcesList
*/
.resources-list {
}

.ant-list {
  &.resources-list {
    font-size: 10px;
    flex-grow: 1;
    align-self: flex-start;
    width: 100%;
  }
}

.ant-list-item {
  padding: 1em 0 0;
}

/**
* ResourceListItem
*/
.resource-item {
  .oddListColor();
  display: flex;
  justify-content: space-between;
  padding: 1em;
  &:hover {
    background-color: @primary-background-subtle;
    .ant-list-item-meta-title {
      margin-left: 0.25em;
      transition: all 300ms cubic-bezier(0.18, 0.89, 0.32, 1.28) 0s;
    }
  }
  & > .name {
    font-weight: bold;
    font-size: 14px;
  }
}

.ant-list-item.resource-item {
  padding: 0.5em;
}

/**
* ResourceDetails
*/
