@import '../../../../shared/lib.less';

.project-view {
  .view-container {
    max-width: 100%;
  }
  .tabs-container {
    .ant-tabs-top > .ant-tabs-nav {
      margin: 0 !important;
    }
    .ant-tabs-content-holder {
      background: #fff;
      padding: 0 @default-pad;
    }
    .ant-tabs-nav {
      padding: 0 1rem;
      .ant-tabs-tab-active .ant-tabs-tab-btn {
        text-shadow: unset;
      }
    }
  }
}
