@import '../../lib.scss';

.Header {
  display: flex;
  position: fixed;
  justify-content: space-between;
  z-index: 1000;
  box-sizing: content-box;
  background-color: $fusion-menu-color;
  width: 100%;
  height: 52px;

  .selectors {
    display: flex;
    flex-grow: 1;
    justify-content: flex-start;
    align-items: center;
    margin: 0 4px;

    .OrgDropdown {
      height: 100%;
    }
  }

  .menu-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 120px;
    button,
    a {
      font-weight: 400;
      font-size: 16px;
    }

    .menu-dropdown {
      display: flex;
      justify-content: center;
      align-items: center;
      align-self: center;
      border: none;
      border-radius: 0 !important;
      background-color: $fusion-daybreak-7;
      padding: 5px 30px;
      width: 100%;
      height: 100%;
      color: $fusion-background-color;

      span {
        margin-left: 5px;
        user-select: none;
        text-transform: capitalize;
      }
    }
  }

  .menu-open-creation-panel {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    background: #003a8c;
    padding: 0px;
    width: 100%;
    min-width: 50px;
    height: 100%;

    &:hover {
      svg {
        transform: scale(1.2);
        transition: transform 0.2 ease-out;
      }
    }
  }

  .ui-header-info-button {
    cursor: pointer;
    margin: 5px 5px 4px;
    border: 1px solid $fusion-background-color;
    border-radius: $border-radius-base;
    padding: 5px;
    height: 32px;
  }

  .cart {
    background-color: $fusion-menu-color;
    color: $fusion-background-color;
  }

  .copy-token-button {
    display: flex;
    align-items: center;
    cursor: pointe r;
    cursor: pointer;
    outline-style: none;
    border: 1px solid $fusion-background-color;
    border-radius: $border-radius-base;
    background-color: inherit;
    width: 115px;
    height: 32px;
    font-size: 0.9rem;
    line-height: 1rem;
    text-align: left;

    .button-text {
      margin-left: 0.4rem;
      color: $fusion-background-color;
    }
  }

  .forge-button {
    display: flex;
    align-items: center;
    cursor: pointer;
    margin-left: 0.4rem;
    outline-style: none;
    border-radius: $border-radius-base;
    background-color: $alternative-button-color;
    padding: 0 7px;
    height: 32px;
    color: #fff;
    font-size: 0.9rem;
    line-height: 1rem;
  }

  .logo-container {
    z-index: 21;

    &__logo {
      display: flex;
      padding: 0.85rem;
      padding-left: 0.95rem;
      height: 100%;
      color: #ffffff;
      letter-spacing: 1px;
    }
  }
}

.menu-overlay-custom {
  top: 52px !important;

  .ant-dropdown-menu {
    box-shadow: none !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    background-color: $fusion-main-color !important;
    padding: 0 !important;

    .ant-dropdown-menu-item {
      line-height: 30px !important;
    }

    .ant-dropdown-menu-submenu-title,
    .ant-dropdown-menu-item {
      color: $fusion-daybreak-3;
    }
  }

  .menu-item-logout {
    background-color: $fusion-daybreak-10;
  }
}

.submenu-overlay-custom {
  span {
    line-height: 30px !important;
  }

  &:hover {
    .ant-dropdown-menu-submenu-title {
      background-color: $fusion-daybreak-3 !important;
      color: $fusion-daybreak-9 !important;
    }
  }

  .ant-dropdown-menu-item {
    line-height: 30px !important;
  }

  .ant-dropdown-menu-submenu-expand-icon {
    display: none !important;
  }
}

.submenu-overlay-custom-popup {
  border-radius: 0 !important;

  .ant-dropdown-menu {
    margin-right: 0px !important;
    margin-left: 0px !important;
    box-shadow: none !important;
    background-color: $fusion-daybreak-3 !important;
    padding: 0px 0px;

    .ant-dropdown-menu-item {
      color: $fusion-daybreak-9 !important;
      line-height: 30px !important;
    }
  }
}

.link-menu-item {
  a {
    color: $fusion-daybreak-3 !important;
  }
}

.ant-popover-inner {
  background-color: $fusion-background-color !important;
}

.ant-popover-inner-content {
  padding: 6px !important;
}

.popover-title {
  padding: 0 0 5px 0;
}

.ant-popover {
  z-index: 1000 !important;
}

@media (max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
}
