

.Header {
  display: flex;
  justify-content: space-between;
  box-sizing: content-box;
  height: 52px;
  background-color: #050a56;
  position: fixed;
  width: 100%;
  z-index: 1000;

  .selectors {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    flex-grow: 1;
    margin: 0 4px;

    .OrgDropdown {
      height: 100%;
    }
  }

  .menu-block {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    min-width: 120px;
    button,
    a {
      font-weight: 400;
      font-size: 16px;
    }

    .menu-dropdown {
      display: flex;
      align-items: center;
      justify-content: center;
      align-self: center;
      width: 100%;
      color: #fff;
      border: none;
      height: 100%;
      border-radius: 0 !important;
      padding: 5px 30px;
      background-color: @fusion-main-color;

      span {
        user-select: none;
        margin-left: 5px;
        text-transform: capitalize;
      }
    }
  }

  .menu-open-creation-panel {
    cursor: pointer;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0px;
    background: #003a8c;
    height: 100%;
    min-width: 50px;
    width: 100%;

    &:hover {
      svg {
        transform: scale(1.2);
        transition: transform 0.2 ease-out;
      }
    }
  }

  .ui-header-info-button {
    margin: 5px 5px 4px;
    cursor: pointer;
    border: 1px solid #fff;
    border-radius: 2px;
    padding: 5px;
    height: 32px;
  }

  .cart {
    color: #fff;
    background-color: #050a56;
  }

  .copy-token-button {
    height: 32px;
    width: 115px;
    border-radius: 2px;
    outline-style: none;
    line-height: 1rem;
    cursor: pointe r;
    font-size: 0.9rem;
    text-align: left;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    background-color: inherit;
    cursor: pointer;

    .button-text {
      margin-left: 0.4rem;
      color: #fff;
    }
  }

  .forge-button {
    height: 32px;
    padding: 0 7px;
    border-radius: 2px;
    outline-style: none;
    line-height: 1rem;
    cursor: pointer;
    font-size: 0.9rem;
    display: flex;
    align-items: center;
    background-color: #2bad4e;
    margin-left: 0.4rem;
    color: #fff;
  }

  .logo-container {
    z-index: 21;

    &__logo {
      padding: 0.85rem;
      padding-left: 0.95rem;
      display: flex;
      letter-spacing: 1px;
      color: #ffffff;
      height: 100%;
    }
  }
}

.menu-overlay-custom {
  top: 52px !important;

  .ant-dropdown-menu {
    background-color: #0050b3 !important;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    box-shadow: none !important;
    padding: 0 !important;

    .ant-dropdown-menu-item {
      line-height: 30px !important;
    }

    .ant-dropdown-menu-submenu-title,
    .ant-dropdown-menu-item {
      color: #91d5ff;
    }
  }

  .menu-item-logout {
    background-color: #002766;
  }
}

.submenu-overlay-custom {
  span {
    line-height: 30px !important;
  }

  &:hover {
    .ant-dropdown-menu-submenu-title {
      background-color: #91d5ff !important;
      color: #003a8c !important;
    }
  }

  .ant-dropdown-menu-item {
    line-height: 30px !important;
  }

  .ant-dropdown-menu-submenu-expand-icon {
    display: none !important;
  }
}

.submenu-overlay-custom-popup {
  border-radius: 0 !important;

  .ant-dropdown-menu {
    background-color: #91d5ff !important;
    box-shadow: none !important;
    margin-left: 0px !important;
    margin-right: 0px !important;
    padding: 0px 0px;

    .ant-dropdown-menu-item {
      line-height: 30px !important;
      color: #003a8c !important;
    }
  }
}

.link-menu-item {
  a {
    color: #91d5ff !important;
  }
}

.ant-popover-inner {
  background-color: #fff !important;
}

.ant-popover-inner-content {
  padding: 6px !important;
}

.popover-title {
  padding: 0 0 5px 0;
}

.ant-popover {
  z-index: 1000 !important;
}

@media (max-width: 1024px) {
  .hide-tablet {
    display: none;
  }
}
