@import '../../../../shared/lib.scss';

.workflow-step-form {
  .ant-form-item-label {
    text-align: left;
  }

  &__title {
    margin-bottom: 1em;
    padding-bottom: 1em;
    border-bottom: 1px solid $border-color-base;
  }

  &__buttons > button {
    margin: 0.5em;
  }

  &__activity-type {
    display: flex;
    align-items: center;
  }

  .ant-btn-circle {
    border: none;
  }

  &__buttons {
    width: 100%;
  }
}
