.home-link-card {
  margin: 0 0 1em 0;

  &__cover {
    height: 1em;
    width: 100%;

    &--Admin {
      background-image: linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%);
    }

    &--Studios {
      background-image: linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
    }

    &--Workflow {
      background-image: linear-gradient(135deg, #00d4ff 10%, #3e3efb 100%);
    }

    &--Search {
      background-image: linear-gradient(
        135deg,
        rgb(247, 144, 187) 10%,
        rgb(250, 178, 126) 100%
      );
    }
  }
}
