@import '../../lib.less';

.search-bar {
  width: 25%;
  min-width: 400px;

  &__drop {
    // avoids an antd issue where it says the first option is selected by default (it's really not)
    .ant-select-item-option-selected:not(.ant-select-item-option-disabled) {
      background-color: transparent;
    }
    background-color: #fff !important;
    .ant-select-item-option-active:not(.ant-select-item-option-disabled) {
      background-color: @link-color;
      color: #fff !important;
      .ant-select-item-option-content {
        color: #fff !important;
      }
    }

    .ant-select-item {
      border-bottom: 1px solid @fusion-secondary-text-color;
      margin-bottom: -1px;
    }

    .ant-select-item-option-content {
      color: @fusion-secondary-text-color;
    }
  }

  &__icon {
    width: 20px;
    border: 1px solid white;
    border-radius: 2px;
    color: white;
    text-align: center;
    opacity: 0.6;
  }

  &__input {
    background-color: #ffffff2b !important;
    color: #fff !important;
    &.focused {
      background-color: #fff !important;
      color: @fusion-primary-text-color !important;
    }
  }

  .ant-input-affix-wrapper.ant-select-selection-search-input {
    background-color: #ffffff2b;
    padding-right: 4px;

    input {
      background-color: transparent;
      color: #fff;
      &:focus {
        color: @fusion-primary-text-color;
      }
    }
  }

  .ant-input-clear-icon {
    color: white;
    opacity: 0.8;
  }

  &__drop {
    overflow-y: hidden;
  }
}
