
.edit-table-form {
  &__title {
    margin-bottom: 1em;
  }

  &__buttons {
    text-align: right;
  }

  &__actions {
    margin: 24px 0;
  }

  &__actions-title {
    margin-bottom: 12px;
  }

  &__action-items {
    padding-left: 30px;
  }

  &__query {
    width: 100%;
    margin: 0 auto;
    .code {
      overflow: 'scroll';
      margin-bottom: 1rem;
      line-height: 30px;
    }
  }

  &__config {
    margin-top: 20px;
  }

  &__column {
    margin: 0px 30px 10px;
    border-bottom: 1px solid #abbac9;

    &:last-child {
      border: none;
    }
  }

  .react-codemirror2 {
    border: 1px solid #abbac9;
  }
}
