

.image-preview {
  background-color: fade(#f2f2f2, 50%);
  margin-bottom: 1rem;
  border-radius: 2px;
  > .wrapper {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    max-height: 600px;
  }
  > .wrapper.-loading {
    display: flex;
    align-content: center;
    justify-content: center;
    .textLoadingGradient();
  }
  > .wrapper.-loaded {
    cursor: zoom-in;
  }
  > .wrapper > .skeleton {
    .blockLoadingGradient();
    height: 300px;
    width: 500px;
  }
  .wrapper > img {
    visibility: hidden;
    max-height: 100%;
    max-width: 100%;
  }
}
