@import '../../lib.scss';

.image-preview {
  background-color: $header-background-color;
  margin-bottom: $default-pad;
  border-radius: $border-radius-base;
  > .wrapper {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    max-height: 600px;
  }
  > .wrapper.-loading {
    display: flex;
    align-content: center;
    justify-content: center;
    @include textLoadingGradient;
  }
  > .wrapper.-loaded {
    cursor: zoom-in;
  }
  > .wrapper > .skeleton {
    @include blockLoadingGradient;
    height: 300px;
    width: 500px;
  }
  .wrapper > img {
    visibility: hidden;
    max-height: 100%;
    max-width: 100%;
  }
}
