@import '../../lib.less';

/**
* Organisation List
*/
.OrgList {
  background-color: @component-background;
  .scrollBar();
  .result {
    margin-top: 10px;
    padding-left: 5px;
  }
  .orgs {
    overflow-y: auto;
  }
}

/**
* Organisation Dropdown
*/
.OrgDropdown {
  display: flex;
  flex-direction: column;
  justify-content: center;

  &.ant-popover-open {
    background: shade(@header-background-color, 20%);
  }
  .menu-dropdown {
    color: @text-color;
  }
  .org-name {
    text-align: center;
    margin: 0;
    cursor: default;
  }
}
.OrgDropdownPopover {
  @height: 100px;
  width: 400px;
  .org-menu {
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
  }
  .orgs {
    max-height: @height + 165;
    min-height: @height;
    overflow-y: auto;
  }
}
