@import '../../lib.less';

.ant-select-item-option-content {
  text-overflow: ellipsis !important;
}
.analysis {
  padding-top: 20px;
  margin-left: 20px;
  max-width:880px;
  .analysisTools {
    min-height: 100px;
    max-height: 500px;
  }
  .assets {
    display: flex;
    flex-wrap: wrap;
  }
  .asset {
    cursor: pointer;
    border: 1px inset rgba(211, 220, 50, 0);
    &.selected {
      color: #fff;
      border: 1px inset rgba(45, 72, 108, 0.5);
      transition: border 0.3s;
    }
  }
}
