@import '../../lib.less';

.analysis {
  margin-left: 20px;

  .slider-scale {
    width: 150px;
  }

  .assets {
    display: flex;
    flex-wrap: wrap;
    max-width: 900px;
    //   max-height: 150px;
    //   max-width: 150px;
  }
  .asset {
    cursor: pointer;
    border: 1mm ridge rgba(211, 220, 50, 0);
    &.selected {
      color: #fff;
      border: 1mm ridge rgba(45, 72, 108, 0.6);
      transition: border 0.3s;
    }
  }
}
