.ant-collapse-content {
    background: #ffffff !important;
.new-report-form {
  .ant-col.ant-form-item-label {
    font-style: normal;
    font-weight: 600;
    font-size: 16px;
    line-height: 32px;
    /* identical to box height, or 200% */

    letter-spacing: 0.06em;
    text-transform: uppercase;

    /* Neutral/13 */

    color: #000000;
  }
  .ant-form-item-control-input-content {
      
      .ant-input {
        border-top: none;
        border-right: none;
        border-left: none;
        border-bottom: 1px solid #141414;
        background: none;
      }
      textarea.ant-input {
        background: #F5F5F5;
      }
} 
}
}
