.seperated-input-container{
    display: grid;
    grid-template-columns: repeat(3, minmax(50px, 1fr));
    gap: 10px;
    align-items: center;
    justify-content: center;
    .seperated-input {
        margin: 10px 0;
        outline: none !important;
        border: none;
        border-bottom: 1px solid #003A8C;
        padding: 4px 4px;
        font-size: 14px;
        font-weight: 400;
        color: #003A8C;
        &::-webkit-input-placeholder{
            color: #D9D9D9;
        }
        &:focus {
            border-bottom: 1.8px solid #003A8C;
        }
        &:not(:placeholder-shown) {
            text-align: center;
            border-bottom: 2px solid #003A8C;
            font-weight: 700;
        }
        &.error {
            border-bottom: 1.8px solid red;
        }
    }
}