.ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.tab-element-container {
  display: flex;
  flex-direction: row;
  .tab-item {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    text-align: left;
    max-width: 250px;
    > .title {
      font-size: 1.2em;
    }
    > .description {
      white-space: normal;
      line-height: 1.2em;
      color: rgba(0, 0, 0, 0.5);
    }
  }
  .edit-button-container {
    display: flex;
    width: 40px;
  }
}
