@import '../../lib.less';

// mixin

.listItemLike() {
  .unstyleList();
  background-color: @component-background;
  border-radius: 2px;
  cursor: pointer;
  margin: 0.5em;
  padding: 0.5em;
  position: relative;
}

.list-item {
  .listItemLike();
  display: flex;
  flex-direction: column;
  &:focus,
  &:focus-within {
    background-color: fade(@primary-color, 5%);
  }
  &:focus {
    .focus();
  }
  &:hover > .content > .actions {
    display: block;
  }
  > .avatar {
    background-color: @header-background-color;
    margin-bottom: @default-pad;
    border-radius: @border-radius-base;
  }
  > .avatar.-small {
    margin: 0;
    width: fit-content;
    height: 100%;
    margin: 0 1em 0 0;
  }
  > .avatar > .wrapper {
    background-size: contain;
    background-position: 50%;
    background-repeat: no-repeat;
    max-height: 260px;
  }
  > .avatar > .wrapper > img {
    visibility: hidden;
    max-height: 100%;
    max-width: 100%;
  }
  > .content {
    display: flex;
    justify-content: space-between;
    height: 24px;
    flex-grow: 1;
  }
  > .content > .label {
    .ellipsis();
    color: @text-color;
    font-weight: 500;
    flex-grow: 1;
    margin-right: @default-pad;
  }
  > .content > .details {
    display: flex;
  }
  > .content > .actions {
    margin-left: 0.5em;
    display: none;
  }
  > .description {
    margin: 0;
    color: @text-color-secondary;
  }
  &.-compact > .description {
    z-index: 1;
    .ellipsis();
  }
  &.-small {
    flex-direction: row;
  }
}
