@import '../../lib.less';

.recently-visited {
  > ul {
    padding: 0;
  }
  .list-item {
    margin: 0.5em 0;
  }
}

.view-container {
  .recently-visited {
    margin-right: @default-pad;
    border: 1px solid @border-color-base;
    border-radius: @border-radius-base;
    padding: @default-pad;
    max-width: 25%;
    min-width: 200px;
  }
}
