@import '../../lib.less';

.recently-visited {
  max-width: 25%;
  min-width: 200px;
  height: fit-content;
  > ul {
    padding: 0;
  }
  .list-item {
    margin: 0.5em 0;
  }
}

.view-container {
  .recently-visited {
    margin-right: @default-pad;
  }
}
