@import '~antd/dist/antd.less';
@import 'lib.less';
@import 'styles/close-button.less';
@import 'styles/project-banner.less';

.view-container {
  padding: 2em 0;
  max-width: @maxConstrainedItemWidth;
  margin: 0 auto;
  display: flex;
  &.-unconstrained-width {
    padding: 2em;
    max-width: none;
  }
}

.user-view {
  .identities-list {
    margin: 0;
    padding: 0;
    .list-item {
      cursor: auto;
    }
  }
}

.ant-popover {
  z-index: 1;
}

.ant-pagination-prev,
.ant-pagination-jump-prev,
.ant-pagination-jump-next,
.ant-pagination-item {
  margin-right: 2px;
}
.ant-list-pagination {
  text-align: center;
}

.ant-input-affix-wrapper .ant-input-suffix {
  color: rgba(0, 0, 0, 0.2);
}
.ant-upload.ant-upload-drag .ant-upload {
  padding: @default-pad;
}

.ant-drawer-header {
  padding: 19px 24px;
}
.ant-drawer-content-wrapper {
  top: 60px;
}
.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: -2px 8px 8px rgba(0, 0, 0, 0.15);
}
