@import '~antd/dist/antd.less';
@import 'lib.less';
@import 'styles/close-button.less';
@import 'styles/project-banner.less';

.view-container {
  padding: 3em 3rem;
  // max-width: @maxConstrainedItemWidth;
  margin: 52px auto 0;
  display: flex;
  background: #f5f5f5 !important;

  &.-unconstrained-width {
    padding: 2em;
    max-width: none;
  }

  &.resource-view {
    max-width: 1320px;
    background-color: @primary-card;
    min-height: calc(100vh - 40px);
    transition: background-image ease-out 1s;

    &.background {
      max-width: 60%;
      background-image: linear-gradient(
        315deg,
        @primary-card 0%,
        @subtle-white 74%
      );

      .resource-details {
        .highShadow();
        padding: 1em;
        width: 100%;
        background-color: @background-color-subtle;
      }
    }

    .resource-details {
      background-color: @fusion-main-bg;
      width: 100%;
    }
  }

  &.data-explorer-container {
    width: fit-content;
    min-width: calc(100vw - 1rem);
    padding-top: 0;
    margin-right: 1rem;
    height: 100%;
    min-height: calc(100vh - 52px);
    margin-top: 0;
  }
}

.graph-wrapper-container {
  width: 100%;
}

.graph-wrapper {
  margin-left: 1em;
  width: 100%;
  height: 1000px;
}

.resource-details {
  .ant-alert-warning {
    margin: 1em 0;
  }

  section.links {
    width: 48%;
  }
}

.user-view {
  .identities-list {
    margin: 0;
    padding: 0;

    .list-item {
      cursor: auto;
    }
  }
}

.ant-pagination-prev,
.ant-pagination-jump-prev,
.ant-pagination-jump-next,
.ant-pagination-item {
  margin-right: 2px;
}

.ant-list-pagination {
  text-align: center;
}

.ant-input-affix-wrapper .ant-input-suffix {
  color: rgba(0, 0, 0, 0.2);
}

.ant-upload.ant-upload-drag .ant-upload {
  padding: @default-pad;
}

.ant-drawer-header {
  padding: 19px 24px;
}

.ant-drawer-right.ant-drawer-open .ant-drawer-content-wrapper {
  box-shadow: -2px 8px 8px rgba(0, 0, 0, 0.15);
}

.studio-view {
  padding: 0 2em;

  .workspace {
    display: flex;
    width: 100%;
    height: 600px;
    min-width: 800px;
    min-height: 600px;
  }

  .studio-back-button {
    margin-bottom: 5px;
  }
}

.studio-modal {
  margin: 0px 0px 10px 0px;
}

.studio-resource-view {
  margin: 40px;

  &-plugin {
    margin: 20px;
  }
}

.ant-modal-body {
  .studio-resource-view {
    margin: 0;
  }
}

.modal-view {
  max-width: 1100px;

  @media (max-width: 1024px) {
    width: 100vw;
    height: 100vh;
  }

  &.-unconstrained {
    max-width: 80vw;

    @media (max-width: 1024px) {
      max-width: none;
    }
  }
}

.studio-edit-button {
  padding: 0;
  color: @text-color-secondary;
}

.ant-tabs .ant-tabs-left-bar .ant-tabs-tab {
  padding: 8px 16px;
  margin-bottom: 8px;
}

.project-menu {
  &__content {
    padding: 6px;
    width: 280px;
  }

  &__controls {
    display: flex;
    flex-direction: column;
  }
}

.resource-actions-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
}

.global-studio-list {
  width: 100%;
}

.studios-container {
  .cardlike;
  margin-right: 0.5rem;
  background-color: @primary-card;
  width: 295px;
}

.home-view {
  // display: grid;
  display: flex;
  flex-direction: column;
}

.anticon {
  color: inherit;
}

.button-no-styling {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;
  background: transparent;
  color: inherit;
  font: inherit;
  line-height: normal;
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;
  text-align: inherit;
  outline: none;
  border-radius: 0;
}

.full-screen-switch__wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;

  span {
    color: @fusion-blue-8;
  }

  .full-screen-switch {
    border: 1px solid #2e76bf !important;
    background: white;

    .ant-switch-handle {
      top: 1px;

      &::before {
        background: @fusion-blue-8;
      }
    }
  }

  .full-screen-switch.ant-switch-checked {
    border: 1px solid #2e76bf !important;
    background: linear-gradient(0deg, @fusion-blue-8, @fusion-blue-8),
      linear-gradient(0deg, rgba(46, 118, 191, 0.2), rgba(46, 118, 191, 0.2));

    .ant-switch-handle {
      top: 1px;

      &::before {
        background: white;
      }
    }
  }
}
