@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

// Antd style overrride

@font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

.ant-tabs-nav {
  background-color: #f2f2f2;
}

// Top-level styles

body {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  .ellipsis();
  font-size: 28px;
}

// Mixins

// Good for elements that want to look like
// they're at the very top
.highShadow() {
  box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
}

.fixed-minus-header {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: calc(100vh - 40px);
}

.rows {
  display: flex;
  flex-direction: row;
}

.unstyleList() {
  list-style: none;
}

.ant-tag-blue {
  background-color: fade(#7cb4fa, 10%);
  color: #7cb4fa;
  border-color: #7cb4fa;
}

.textLoadingGradient () {
  background: linear-gradient(-45deg, #52c41a, #0083cb, #1d3b61, #0070c9);
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 4s ease infinite;
}
.blockLoadingGradient () {
  background: linear-gradient(-45deg, #abbac9, white);
  background-size: 400% 400%;
  animation: Gradient 4s ease infinite;
}

.ellipsis () {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.oddListColor() {
  &:nth-of-type(2n + 1) {
    background-color: @background-color-subtle;
  }
}

.focus() {
  outline: none;
}

.cardlike() {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: @background-color-subtle;
  height: fit-content;
  height: -moz-max-content;
  height: -webkit-max-content;
}

.interactiveArea() {
  background-color: white;
  border: 1px solid #e8e8e8;
  transition: all 0.3s ease;
}

.constrainedWidth() {
  max-width: 1240px;
  margin: 0 auto;
}

.flash {
  animation: TextFlash 1s ease-out;
}

.scrollBar() {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: fade(#f2f2f2, 50%);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: shade(fade(#f2f2f2, 50%), 20%);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@keyframes TextFlash {
  0% {
    text-shadow: 0px 0px 6px #faad14;
    color: white;
  }
  100% {
    text-shadow: 0px 0px 0px #faad14;
    color: #333333-secondary;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
