@font-face {
  font-style: normal;
  font-weight: normal;
  src: url('./fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: italic;
  font-weight: normal;
  src: url('./fonts/TitilliumWeb-Italic.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: normal;
  font-weight: bold;
  src: url('./fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: italic;
  font-weight: bold;
  src: url('./fonts/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: normal;
  font-weight: 600;
  src: url('./fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: italic;
  font-weight: 600;
  src: url('./fonts/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: normal;
  font-weight: 300;
  src: url('./fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: italic;
  font-weight: 300;
  src: url('./fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: normal;
  font-weight: 100;
  src: url('./fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-family: 'Titillium Web';
}
@font-face {
  font-style: italic;
  font-weight: 100;
  src: url('./fonts/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-family: 'Titillium Web';
}

// Antd style overrride
@maxConstrainedItemWidth: 1240px;

@primary-card: #f5f6f7;
@default-card-width: 400px;
@default-pad: 1rem;
@half-pad: 0.5rem;
@fast: 85ms;
@internal-link-color: #ff6666;
@subtle-white: #e4ebf2;
@main-node-color: #9dfcc5;
@edge-color: #8a8b8b;
@table-row-highlight-color: rgba(255, 255, 255, 0.1);
@icon-color: #bcbccb;

@layout-body-background: @fusion-background-color;
@layout-header-background: @fusion-menu-color;

@fusion-dark-bg: @fusion-menu-color;
@blocked-color: @fusion-danger-color;
@success-color: @fusion-success-color;
@in-progress-color: @fusion-warning-color;
@not-started-color: #828a8e;
@fusion-dark: #4b4b4b;
@transition-bouncy: cubic-bezier(0.075, 0.82, 0.165, 1);
@transition-all-bouncy: all 0.3s @transition-bouncy;
@alternative-button-color: #2bad4e;
@medium-gray: #a5afb4;

// Ant Design style overrides

@font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

.ant-tabs-nav {
  background-color: #f2f2f2;
}

// Top-level styles
body {
  background-color: #fff;
  background-size: cover;
  background-repeat: no-repeat;
  background-color: @fusion-background-color;
}

h1 {
  .ellipsis();
  font-size: 28px;
}

// Mixins

// Good for elements that want to look like
// they're at the very top
.highShadow() {
  box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
}

.fixed-minus-header {
  position: relative;
  width: 100%;
  height: 100%;
  max-height: calc(100vh - 40px);
}

.rows {
  display: flex;
  flex-direction: row;
}

.unstyleList() {
  list-style: none;
}

.ant-tag-blue {
  background-color: fade(#7cb4fa, 10%);
  color: #7cb4fa;
  border-color: #7cb4fa;
}

.textLoadingGradient () {
  background: linear-gradient(-45deg, #52c41a, #0083cb, #1d3b61, #0070c9);
  background-size: 400% 400%;
  -webkit-text-fill-color: transparent;
}
.blockLoadingGradient () {
  background: linear-gradient(-45deg, #abbac9, white);
  background-size: 400% 400%;
}

.ellipsis () {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.oddListColor() {
  &:nth-of-type(2n + 1) {
    background-color: @background-color-subtle;
  }
}

.focus() {
  outline: none;
}

.cardlike() {
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  border-radius: 2px;
  background-color: @background-color-subtle;
  padding: @default-pad;
  height: fit-content;
  height: -moz-max-content;
  height: -webkit-max-content;
}

.interactiveArea() {
  transition: all 0.3s ease;
  border: 1px solid #e8e8e8;
  background-color: white;
}

.constrainedWidth() {
  max-width: 1240px;
  margin: 0 auto;
  max-width: @maxConstrainedItemWidth;
}

.flash {
  animation: TextFlash 1s ease-out;
}

.scrollBar() {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: fade(#f2f2f2, 50%);
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: shade(fade(#f2f2f2, 50%), 20%);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@keyframes TextFlash {
  0% {
    text-shadow: 0px 0px 6px #faad14;
    color: white;
    text-shadow: 0px 0px 6px @warning-color;
  }
  100% {
    text-shadow: 0px 0px 0px #faad14;
    color: #333333-secondary;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
