// BBP Fusion Standard Styling

// Color palette
@fusion-main-bg: #f5f5f5;
@fusion-menu-color: #050a56;
@fusion-primary-color: #0083cb;
@fusion-main-color: #0050b3;
@fusion-secondary-color: #7cb4fa;
@fusion-primary-text-color: #333333;
@fusion-secondary-text-color: #888888;
@fusion-success-color: #52c41a;
@fusion-active-link-color: #0070c9;
@fusion-visited-link-color: #ac1fd3;
@fusion-hover-link-color: #3ea1d7;
@fusion-danger-color: #ff4d4f;
@fusion-background-color: #fff;
@fusion-component-background-color: #f2f2f2;
@fusion-warning-color: #faad14;
@fusion-blue-1: #e6f7ff;
@fusion-blue-1: #e6f7ff;
@fusion-gray-4: #D9D9D9;
@fusion-daybreak-3: #91d5ff;
@fusion-daybreak-4: #69c0ff;
@fusion-daybreak-5: #40a9ff;
@fusion-daybreak-7: #0050B3;
@fusion-daybreak-8: #0050b3;
@fusion-daybreak-9: #003a8c;
@fusion-daybreak-10: #002766;
@fusion-neutral-0: #000000;
@fusion-neutral-2: #FAFAFA;
@fusion-neutral-5: #d9d9d9;
@fusion-neutral-6: #bfbfbf;
@fusion-neutral-7: #8c8c8c;
@fusion-neutral-8: #595959;
// additional colors
@nexus-dark: #1d3b61;

// typography
@fusion-base-font-size: 14px;
@fusion-heading-1-size: 28px;
@fusion-heading-2-size: 23px;
@fusion-heading-3-size: 19px;
@fusion-heading-4-size: 16px;
@fusion-heading-5-size: 14px;

@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-Italic.ttf') format('truetype');
  font-weight: normal;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-BoldItalic.ttf') format('truetype');
  font-weight: bold;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-SemiBold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-SemiBoldItalic.ttf') format('truetype');
  font-weight: 600;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-LightItalic.ttf') format('truetype');
  font-weight: 300;
  font-style: italic;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-ExtraLight.ttf') format('truetype');
  font-weight: 100;
  font-style: normal;
}
@font-face {
  font-family: 'Titillium Web';
  src: url('./fonts/TitilliumWeb-ExtraLightItalic.ttf') format('truetype');
  font-weight: 100;
  font-style: italic;
}

// Fusion Variables
@header-background-color: fade(@fusion-component-background-color, 50%);
@box-shadow-color: #abbac9;
@bounce: cubic-bezier(0.645, 0.045, 0.355, 1);
@interfaceTransition: 0.3s @bounce;

@maxConstrainedItemWidth: 1240px;
// @maxConstrainedItemWidth: 980px;

@primary-card: #f5f6f7;
@default-card-width: 400px;
@default-pad: 1rem;
@half-pad: 0.5rem;
@fast: 85ms;
@internal-link-color: #ff6666;
@subtle-white: #e4ebf2;
@main-node-color: #9dfcc5;
@edge-color: #8a8b8b;
@table-row-highlight-color: rgba(255, 255, 255, 0.1);
@icon-color: #bcbccb;

@layout-body-background: @fusion-background-color;
@layout-header-background: @fusion-menu-color;

@fusion-dark-bg: @fusion-menu-color;
@blocked-color: @fusion-danger-color;
@success-color: @fusion-success-color;
@in-progress-color: @fusion-warning-color;
@not-started-color: #828a8e;
@fusion-dark: #4b4b4b;
@transition-bouncy: cubic-bezier(0.075, 0.82, 0.165, 1);
@transition-all-bouncy: all 0.3s @transition-bouncy;
@alternative-button-color: #2bad4e;
@medium-gray: #a5afb4;

// Antd style overrride

@font-family: 'Titillium Web', -apple-system, BlinkMacSystemFont, 'Segoe UI',
  Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif, 'Apple Color Emoji',
  'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';

@primary-color: @fusion-primary-color; // primary color for all components
@link-color: @fusion-active-link-color; // link color
@link-hover-color: @fusion-hover-link-color;
@success-color: @fusion-success-color; // success state color
@warning-color: @fusion-warning-color; // warning state color
@error-color: @fusion-danger-color; // error state color

@font-size-base: @fusion-base-font-size; // major text font size
@heading-1-size: @fusion-heading-1-size;
@heading-2-size: @fusion-heading-2-size;
@heading-3-size: @fusion-heading-3-size;
@heading-4-size: @fusion-heading-4-size;
@heading-5-size: @fusion-heading-5-size;

@heading-color: @fusion-primary-text-color; // heading text color
@text-color: @fusion-primary-text-color; // major text color
@text-color-secondary: @fusion-secondary-text-color; // secondary text color
@border-radius-base: 2px; // major border radius
@border-color-base: #d9d9d9; // major border color
@box-shadow-base: 0 2px 8px rgba(0, 0, 0, 0.15); // major shadow for layers
@primary-background-subtle: rgb(226, 248, 255);
@background-color-subtle: rgb(
  252,
  253,
  253
); // for sublte highlighting in lists

@component-background: @fusion-component-background-color;

.ant-tabs-nav {
  background-color: @fusion-component-background-color;
}

// Top-level styles

body {
  background-color: @fusion-background-color;
  background-size: cover;
  background-repeat: no-repeat;
}

h1 {
  .ellipsis();
  font-size: @heading-1-size;
}

// Mixins

// Good for elements that want to look like
// they're at the very top
.highShadow() {
  box-shadow: 0 12px 24px -6px rgba(9, 30, 66, 0.25),
    0 0 0 1px rgba(9, 30, 66, 0.08);
}

.fixed-minus-header {
  position: relative;
  height: 100%;
  width: 100%;
  max-height: calc(100vh - 40px);
}

.rows {
  display: flex;
  flex-direction: row;
}

.unstyleList() {
  list-style: none;
}

.ant-tag-blue {
  background-color: fade(@fusion-secondary-color, 10%);
  color: @fusion-secondary-color;
  border-color: @fusion-secondary-color;
}

.textLoadingGradient () {
  background: linear-gradient(
    -45deg,
    @success-color,
    @primary-color,
    @nexus-dark,
    @link-color
  );
  background-size: 400% 400%;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: Gradient 4s ease infinite;
}
.blockLoadingGradient () {
  background: linear-gradient(-45deg, @box-shadow-color, white);
  background-size: 400% 400%;
  animation: Gradient 4s ease infinite;
}

.ellipsis () {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.oddListColor() {
  &:nth-of-type(2n + 1) {
    background-color: @background-color-subtle;
  }
}

.focus() {
  outline: none;
}

.cardlike() {
  padding: @default-pad;
  box-shadow: @box-shadow-base;
  border-radius: @border-radius-base;
  background-color: @background-color-subtle;
  height: fit-content;
  height: -moz-max-content;
  height: -webkit-max-content;
}

.interactiveArea() {
  background-color: white;
  border: 1px solid #e8e8e8;
  transition: all 0.3s ease;
}

.constrainedWidth() {
  max-width: @maxConstrainedItemWidth;
  margin: 0 auto;
}

.flash {
  animation: TextFlash 1s ease-out;
}

.scrollBar() {
  /* width */
  ::-webkit-scrollbar {
    width: 10px;
  }
  /* Track */
  ::-webkit-scrollbar-track {
    background: @header-background-color;
  }
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: shade(@header-background-color, 20%);
  }
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555;
  }
}

@keyframes TextFlash {
  0% {
    text-shadow: 0px 0px 6px @warning-color;
    color: white;
  }
  100% {
    text-shadow: 0px 0px 0px @warning-color;
    color: @text-color-secondary;
  }
}

@keyframes Gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
