

.resource-list-height-tester {
  margin: 0 0.5em;
  &:first-of-type {
    margin-left: 0;
  }
  &:last-of-type {
    margin-right: 0;
  }
}

.resource-list {
  // .cardlike();
  height: 100%;
  background-color: #f5f6f7;
  width: 400px;
  min-width: 400px;
  resize: horizontal;
  display: flex;
  flex-direction: column;
  max-height: 100%;
  overflow: hidden;
  // CSS is strange, need this crazy stuff to make the children
  // match the full height of the parent div as a flexbox
  & > .ant-spin-nested-loading {
    overflow: hidden;
    height: 100%;
    display: flex;
  }
  & > .ant-spin-nested-loading > .ant-spin-container {
    width: 100%;
  }
  & > .ant-spin-nested-loading > .ant-spin-container > .infinite-scroll {
    height: 100%;
    display: content;
    overflow: hidden;
    overflow-y: auto;
  }
  & > .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: #333333; // instead of default heading color
  }
  & > .header > .count {
    font-size: 0.8rem;
    font-weight: lighter;
    flex-grow: 1;
    margin-left: 1rem;
  }
  & > .header.-fetching > .renameable-item {
    // .textLoadingGradient();
  }
  & > .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 0.5rem;
    flex-wrap: wrap;
    &.-squished {
      justify-content: flex-end;
      align-items: center;
    }
  }
  & > .controls > .dropdown-filter {
    width: 49%;
  }
  & > .controls > .search {
    width: 60%;
    flex-grow: 1;
  }
  & > .controls > button {
    margin-left: 2px;
  }
  & > .controls > .filter-dropdown {
    width: calc(50% - 2px);
    margin: 0.5em 0;
  }
  & > .controls > .switches {
    width: 100%;
    display: flex;
    justify-content: flex-end;
  }
  & > .controls > .switches > .ant-switch {
    margin-left: 1rem;
  }
  & > .infinite-scroll > .list .list-item {
    margin: 0.5em 0;
  }
  &.-add {
    cursor: pointer;
    padding: 1rem;
    color:rgb(
      252,
      253,
      253
    );
    transition: all 85ms ease-in;
    background-color: fade(black, 30%);
    height: fit-content;
    height: -moz-max-content;
    height: -webkit-max-content;
    display: block;
    resize: none;
    &:hover {
      background-color: fade(black, 50%);
    }
  }
  /* keep paginator at bottom */
  & .ant-list-pagination {
    bottom: 0;
    position: absolute;
    left: 0;
    right: 0;
    background-color: #f5f6f7;
    padding: 10px;
  }

  /* ensure consistent height of resource items */
  & .resource-type-list {
    height: 18px;
  }

  & .dummy-height-test-list-item,
  .list-item {
    height: 100%;
  }
}
