@import 'shadow-variables.less';

@defaultColor: #cbcccc;
@defaultColor2: #b3b3b3;

@editColor: #32ccbc;
@editColor2: #90f7ec;

@addToColor: #ce9ffc;
@addToColor2: #7367f0;

@addFromColor: #00d4ff;
@addFromColor2: #3e3efb;

@csvColor: rgb(250, 178, 126);
@csvColor2: rgba(247, 144, 187, 1);

@deleteColor: #cf1322;
@deleteColor2: #ff7a45;

.borderMixin(@c1, @c2) {
	border-image-source: linear-gradient(90deg, @c2 10%, @c1 100%);
}
.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  row-gap: 1em;
  .button {
    width: 100%;
    height: auto;
    background: @bgColor;
    opacity: 1;
    border: solid 3px transparent;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-image-slice: 100 20 0;
    text-align: left;
    cursor: pointer;
    box-shadow: @shortShadow;
    width: 100%;

    &:hover {
      transition: all 1s ease-out;
      border-style: outset;
      box-shadow: @hoverShadow;
    }
    &:active {
      box-shadow: @activeShadow;
    }

    &.edit {
			.borderMixin(@defaultColor2, @defaultColor);
      // color: @editColor;
      // .actionIcon {
      //   border-color: @editColor;
      // }
    }

    &.addTo {
      .borderMixin(@defaultColor2, @defaultColor);
      // color: @addToColor;
      // .actionIcon {
      //   border-color: @addToColor;
      // }
    }

    &.addFrom {
      .borderMixin(@defaultColor2, @defaultColor);
      // color: @addFromColor;
      // .actionIcon {
      //   border-color: @addFromColor;
      // }
    }

    &.delete {
      .borderMixin(@deleteColor2, @deleteColor);
      color: @deleteColor;
      .actionIcon {
        border-color: @deleteColor;
      }
    }

    &.csv {
      .borderMixin(@defaultColor2, @defaultColor);
      // color: @csvColor;
      // .actionIcon {
      //   border-color: @csvColor;
      // }
    }

    .actionIcon {
      box-shadow: none;
      border-style: inset;
      border-width: 0px 2px 0px 0px;
    }
  }
}
