.data-table-controls {
  width: 100%;
  background-color: aliceblue;
}

.data-table-row {
  max-height: 40px;
}

.ant-table-title h4.tableTitle {
  position: absolute;
  top: -30px;
  text-transform: capitalize;
}

// .wrapper {
//   display: grid;
//   grid-template-columns: repeat(1, 1fr);
//   column-gap: 10px;
//   row-gap: 1em;
//   button {
//     border-radius: 1px;
//     width: 100%;
//     color: rgba(0, 0, 0, 0.72);
// 		box-shadow: 0 0 6px 0 rgba(157, 96, 212, 0.5);
//     border: solid 3px transparent;
//     background-origin: border-box;
//     background-clip: content-box, border-box;
//     box-shadow: 2px 1000px 1px #fff inset;
//     ::hover {
//       box-shadow: none;
//       color: white;
//     }
//     &.edit {
//       background-image: linear-gradient(
//           rgba(255, 255, 255, 0),
//           rgba(255, 255, 255, 0)
//         ),
//         linear-gradient(135deg, #90f7ec 10%, #32ccbc 100%);
//     }

//     &.addTo {
//       background-image: linear-gradient(
//           rgba(255, 255, 255, 0),
//           rgba(255, 255, 255, 0)
//         ),
//         linear-gradient(135deg, #ce9ffc 10%, #7367f0 100%);
//     }

//     &.addFrom {
//       background-image: linear-gradient(
//           rgba(255, 255, 255, 0),
//           rgba(255, 255, 255, 0)
//         ),
//         linear-gradient(135deg, #00d4ff 10%, #3e3efb 100%);
//     }

//     &.delete {
//       background-image: linear-gradient(
//           rgba(255, 255, 255, 0),
//           rgba(255, 255, 255, 0)
//         ),
//         linear-gradient(135deg, #ff7a45 10%, #cf1322 100%);
//     }

//     &.csv {
//       background-image: linear-gradient(
//           rgba(255, 255, 255, 0),
//           rgba(255, 255, 255, 0)
//         ),
//         linear-gradient(135deg, rgb(247, 144, 187) 10%, rgb(250, 178, 126) 100%);
//     }
//   }
// }
