.data-table-controls {
  width: 100%;
  background-color: aliceblue;
}

.data-table-row {
  max-height: 40px;
}

.ant-table-title h4.tableTitle {
  position: absolute;
  top: -30px;
  text-transform: capitalize;
}

.wrapper {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  column-gap: 10px;
  row-gap: 1em;
}
