@import '../../lib.scss';

.list-board {
  height: calc(100vh - 150px);
  overflow: hidden;
  overflow-x: scroll;
  padding: $default-pad $default-pad 0;
  & > .wrapper {
    display: flex;
    width: fit-content;
    padding-bottom: $default-pad;
    height: 100%;
  }
  & > .wrapper > .resource-list {
    &:first-child {
      margin-left: 0;
    }
    &:last-child {
      // necessary beause the queries board padding doesn't contain last element
      margin-right: $default-pad;
    }
    margin: 0 0.5em;
  }
}
