.sort {
  display: flex;
  align-items: center;
  &__remove {
    flex: 2 60px;
  }
  &__field-name {
    flex: 3;
  }
  &__direction {
    flex: 6;
  }
}

.sort-modal.ant-modal {
  position: fixed;
}
