.project-view {
  &__container {
    height: 100%;
    background-color: #fff;
    background-image: url('../../../shared/images/projectGrid.png');
    width: 2200px;
    height: 1800px;
    margin-top: 52px;
  }
}

.metadata-editor {
  width: '300px';
  float: 'right';
  border-radius: 1rem;
}
