.list-header {
  display: flex;
  margin-top: 1.5rem;

  .sort-button {
    margin-left: 10px;
    margin-top: 10px;
  }
}

.list-container {
  overflow-y: scroll;

  .project-card-container {
    margin: 1rem 0;
  }
}
