.settings-view {
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px 20px;
  .settings-view-container {
    margin-left: 60px;
  }
  h2 {
    font-weight: bold;
    font-size: 20px;
  }
  h3 {
    font-weight: bold;
    font-size: 16px;
  }
  .views-table {
    margin-top: 40px;
    .ant-table-thead .ant-table-cell {
      background: #fff !important;
      border-bottom: 2px solid #f0f0f0;
      &::before {
        content: none !important;
      }
      &:last-child {
        text-align: center;
      }
    }
    .view-item-row {
      .ant-table-cell {
        background: #fff !important;
        border-bottom: none !important;
      }
      &:hover {
        .ant-table-cell {
          background: #fafafa !important;
        }
      }
    }
    &.acls-table {
      margin-top: 10px;
    }
  }
  .quota-storage-table {
    .ant-table-thead .ant-table-cell {
      &::before {
        content: none !important;
      }
    }
  }
}

.settings-apimappings-view {
  .api-mappings-content {
    max-width: 900px;
    .delete-api-mapping-item-btn {
      &:hover {
        color: red;
      }
    }
  }
}

.settings-views-view {
  .view-item-actions {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
    // align-items: center;
    // justify-content: center;
  }
}

.settings-quotas-view {
  .quota-data-volume {
    padding: 20px 20px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
  }
  .quota-storage {
    padding: 20px 20px;
  }
  .quotas-gauge-chart {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    .qgauge-chart {
      margin-bottom: 10px;
      .g2-html-annotation {
        top: 165px !important;
      }
    }
  }
}

.settings-danger-zone-view {
  .danger-text {
    font-size: 16px;
    line-height: 23px;
  }
  .danger-actions {
    margin-top: 10px;
    display: grid;
    align-items: flex-start;
    grid-template-columns: repeat(2, 200px);
    gap: 10px;
  }
}

.settings-permissions-view {
  .permissions-raw {
    display: grid;
    grid-auto-flow: column;
    gap: 5px;
  }
  .row-as-head {
    font-weight: bold;
    font-size: 16px;
  }
}
