.search-table-header {
  margin-bottom: 10px;
  display: flex;
  &__paginator {
    margin-left: auto !important;
  }
}

.column-header {
  display: flex;
  & span {
    white-space: nowrap;
  }
  &__options {
    min-width: 50px;
    margin-left: auto !important;
    display: flex;
    justify-content: right;
  }
}
