@import '../../lib.scss';

.dropdown-filter {
  & > .ant-select {
    width: 100%;
  }
}

.drop-option {
  display: flex;
  justify-content: space-between;
  & > .label {
    margin-right: $default-pad;
  }
}
