.view-container.data-explorer-container {
  // style the scroll bar
  &::-webkit-scrollbar {
    width: 0px;
    height: 14px;
    padding: 2px 10px;
  }

  // style the scroll thumb
  &::-webkit-scrollbar-thumb {
    background: @fusion-blue-8;
    border-radius: 4px;
  }
}

.data-explorer-contents {
  margin-bottom: 52px;
  padding-left: 40px;
  background: #f5f5f5;
  width: 100%;
  margin-top: 100px;

  .loading {
    margin: 40vh auto;
    z-index: 100;
    position: relative;
  }

  .toggle-header-buttons {
    z-index: 5;
    position: fixed;
    top: 100px;
    left: 20px;
    color: #003a8c;
    background: white;

    &:active,
    &:focus {
      background: white;
      border-color: #d9d9d9;
      color: #003a8c;
    }
  }

  .data-explorer-header {
    background: white;
    position: fixed;
    top: 52px; // Fusion titlebar height
    left: 0;
    width: 100vw;
    padding: 20px 52px;
    z-index: 2;
  }

  .data-explorer-filters {
    display: flex;
    margin-bottom: 28px;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 10px;

    .left,
    .right {
      display: flex;
      align-items: center;
      justify-content: flex-start;
      flex-wrap: wrap;
      gap: 10px;
    }
  }

  .flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
  }

  .data-explorer-count {
    color: #8c8c8c;
    margin-left: 20px;

    .total {
      margin-right: 24px;
    }
  }

  .data-explorer-toggles {
    label {
      margin-left: 6px;
      color: #003a8c;
    }

    .data-explorer-toggle {
      border: 1px solid #003a8c;
      box-sizing: content-box;
      margin-left: 30px;

      &[aria-checked='true'] {
        background-color: #003a8c;

        .ant-switch-handle::before {
          background-color: white;
        }
      }

      &[aria-checked='false'] {
        background-color: transparent;

        .ant-switch-handle::before {
          background-color: #003a8c;
        }
      }
    }
  }

  .text-button {
    color: #595959;
  }

  .form-container {
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: fit-content;
    margin: 0 10px;

    .ant-form-item {
      margin-bottom: 0;
    }

    .label {
      font-size: 12px;
      font-weight: 300;
      line-height: 16px;
      letter-spacing: 0.01em;
      text-align: left;
      color: $fusion-blue-8;
      margin: 0 10px 0 0;
    }

    .search-input {
      border-bottom: 1px solid #8c8c8c;
      margin-left: 8px !important;
      color: #003a8c !important;
      width: 200px;

      input {
        color: #003a8c !important;
        border: none;
        background: transparent;
        font-weight: 700;

        &::placeholder {
          color: #8c8c8c;
          font-weight: 400;
        }
      }

      .ant-select-selection-item {
        span {
          color: #003a8c !important;
          border: none;
          background: #f5f5f5;
          font-weight: 700;
        }
      }

      input:focus {
        border: none !important;
      }

      .ant-input-group-addon {
        background: transparent;
        border: none;
      }

      .anticon-search,
      .anticon-close {
        color: #003a8c;
      }
    }

    .select-menu {
      .ant-select-selector {
        color: #003a8c !important;
        background-color: transparent !important;
        max-width: max-content;
        min-width: 200px;

        .ant-select-selection-item {
          font-weight: 700;
        }
      }

      .ant-select-arrow {
        color: #003a8c;
        font-weight: 700;
      }
    }

    .select-menu.reduced-width {
      .ant-select-selector {
        min-width: 140px;
        width: max-content;
      }
    }

    .flex {
      display: flex;
      flex-direction: column;
      position: relative;
    }

    .predicate-warning {
      font-size: 12px;
      position: absolute;
      top: 36px;
      width: max-content;
      color: #fa8c16;
    }
  }

  .select-menu.greyed-out {
    .ant-select-selector {
      color: #bfbfbf !important;
      background-color: transparent !important;
      text-transform: lowercase;
      border: none;
      max-width: max-content;
      min-width: unset;
      display: flex;
      align-items: center;
    }

    .ant-select-selector::before {
      content: url('./predicate-filter.svg');
      width: 10px;
      margin-right: 4px;
    }

    .ant-select-arrow {
      display: none;
    }

    .ant-select-selection-item {
      font-weight: 700;
      padding-right: 0;
      width: max-content;
    }
  }

  [aria-label='path-selector'] {
    margin-right: 10px;
  }

  .predicate-value-input {
    color: #003a8c;
    background: transparent;
    width: 200px;
  }
}

.data-explorer-header-collapsed {
  .ant-table-header {
    box-shadow: 4px 4px 4px 0px rgba(0, 0, 0, 0.08);
  }
}

.data-explorer-table {
  margin-bottom: 60px;

  table {
    width: auto;
    min-width: 90vw !important; // This is needed to make sure that the table headers and table body columns are aligned when the table is rerendered (eg when user selects a predicate, project, or, type).
  }

  .ant-table {
    background: #f5f5f5;
  }

  .ant-table-thead > tr > th.data-explorer-column {
    background-color: #f5f5f5 !important;
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 130%;
    letter-spacing: 0.04em;
    color: #8c8c8c;
    height: 52px;
    min-width: 72px;
    width: 100%;
    max-width: fit-content;
  }

  .ant-table-thead > tr > th::before {
    font-size: 0px; // Removes the little vertical divider between table header cells
  }

  th.ant-table-cell.ant-table-cell-scrollbar {
    background-color: #f5f5f5 !important;
  }

  .ant-table-body tr td {
    background-color: #f5f5f5;
    min-width: 72px;
    color: #003a8c;
  }

  .ant-table-tbody > tr.data-explorer-row > td {
    border-bottom: 1px solid #d9d9d9;
  }

  .ant-table-column-sorters {
    justify-content: center !important;
  }
}

.search-menu {
  .ant-select-item-option-content {
    color: #003a8c;
    width: 100%;

    .first-metadata-path {
      width: 100%;
      display: block;
      border-top: 1px solid #a5afb4;
      padding-top: 4px;
    }
  }
}

.columns-selector {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-direction: column;
  overflow-x: hidden;

  label {
    font-size: 12px;
    font-weight: 300;
    line-height: 16px;
    letter-spacing: 0.01em;
    text-align: left;
    color: #003a8c;
    margin: 0 10px;
  }
}

.columns-selector-container {
  .select-row {
    .column-name {
      display: -webkit-box !important;
      -webkit-line-clamp: 1;
      -webkit-box-orient: vertical;
      overflow: hidden;
      font-size: 14px;
      line-height: 18px;
      font-weight: 400;
      height: 100%;
      word-wrap: break-word;
    }
  }
}

.columns-selector-dropdown {
  .ant-select-selector {
    background-color: #ffffff !important;
  }
}

.columns-selector-popup {
  background-color: white !important;
}

.columns-selector-container {
  overflow-y: scroll;
  height: 220px;

  &::-webkit-scrollbar-thumb {
    background: #0083cb;
    border-radius: 5px;
    -webkit-box-shadow: inset 0 0 px #0083cb;
    max-height: 4px;
  }
}

.columns-selector-wrapper {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  gap: 10px;
}

.columns-search-container {
  padding: 15px 10px;
}

.new-columns-message {
  color: #2ebd56;
  padding: 5px 0;
  user-select: none;
}

.columns-selector-search {
  background-color: white !important;
  border-bottom: 1px solid #d9d9d9 !important;
  width: 100%;

  .ant-input,
  .ant-btn {
    border: none !important;
    background-color: white !important;
  }

  .anticon-search {
    svg {
      color: #050a56;
    }
  }

  .ant-input:focus {
    outline: none;
    box-shadow: none;
  }

  .ant-input-affix-wrapper {
    border: none;
    background-color: transparent;

    &-focused {
      box-shadow: none;
      outline: none;
    }
  }
}

.data-explorer-speed-arrows {
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  bottom: 0px;
  padding: 10px;

  .left,
  .right {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .left-speed-arrow,
  .right-speed-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #003a8c;
    padding: 10px;
    cursor: pointer;

    &--hidden {
      display: none;
    }

    svg {
      font-size: 20px;
      color: white !important;
    }
  }

  .left-arrow,
  .right-arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #0050b3;
    padding: 10px;
    cursor: pointer;

    &--hidden {
      display: none;
    }

    svg {
      font-size: 20px;
      color: white !important;
    }
  }

  .right {
    margin-left: auto;
  }
}

.data-explorer-not-sticky {
  .ant-table-header.ant-table-sticky-holder {
    z-index: 0;
  }
}
