@import '../../../../lib.less';

.query-component {
  .cardlike();
  background-color: #f5f6f7;
  width: 400px;
  & > .infinite-scroll {
    // max-height: calc(100vh - 300px);
    // overflow-y: scroll;
  }
  & > .header {
    display: flex;
    justify-content: space-between;
    color: @text-color; // instead of heading color
  }
  & > .controls {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1em;
    flex-wrap: wrap;
  }
  & > .controls > .search {
    width: 60%;
    margin-right: 2px;
  }
  & > .controls > .ant-select {
    width: calc(50% - 2px);
    margin: 0.5em 0;
  }
  & > .infinite-scroll > .list .list-item {
    margin: 0.5em 0;
  }
  &.-add {
    cursor: pointer;
    padding: 1em;
    color: hsla(0, 9%, 91%, 0.8);
    transition: all 85ms ease-in;
    background-color: #00000050;
    height: fit-content;
    &:hover {
      background-color: #00000070;
    }
  }
}
