

/**
* TypesIcon
*/

.types-list {
  position: relative;
  list-style: none;
  position: relative;
  display: flex;
  width: auto;
  padding: 0;
  margin: 0;
  & > .ellipsis {
    display: inline-block;
    color: red;
    position: relative;
    top: -4px;
  }
  &.-full {
    display: block;
    .label {
      max-width: none;
    }
  }
}

.types-icon {
  display: inline-block;
  position: relative;
  height: 22px;
  &:hover {
    z-index: 1;
    .ant-avatar-sm.ant-avatar-square {
      opacity: 1;
    }
  }
  .ant-tag {
    height: 22px;
  }
  .ant-avatar-sm.ant-avatar-square {
    transition: opacity 0.3s ease;
    width: 16px;
    margin-right: 0.5em;
    height: 16px;
    top: -6px;
    opacity: 0.7;
  }
  .label {
    position: relative;
    max-width: 50px;
    font-size: 10px;
    white-space: nowrap;
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
