@import '../../lib.less';

/**
* TypesIcon
*/

.types-list {
  .unstyleList();
  position: relative;
  list-style: none;
  position: relative;
  display: inline-block;
  margin-right: 2em;
  padding: 0;
}

// layout

.types-icon {
  display: inline-block;
  position: relative;
  width: 10px;
  z-index: 0;
  &:hover {
    z-index: 1;
  }
}
