

.pdf-preview {
  .loadingMessage {
    width: 100%;
    height: 100%;
    z-index: 1100;
    font-size: 50px;
    text-align: center;
    color: #0083cb;
  }

  .asset-preview-mask {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1000;
    height: 100%;
    background-color: #00000073;

    .asset-preview-wrap {
      position: fixed;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      overflow: auto;
      outline: 0;
      -webkit-overflow-scrolling: touch;
      z-index: 1080;

      .asset-preview {
        display: flex;
        height: 90%;

        .asset-preview-close {
          color: #fff;
          position: fixed;
          top: 0;
          right: 0;

          &__button {
            padding: 12px;
            color: rgba(255, 255, 255, 0.85);
            background-color: transparent;
            border: none;
            font-size: 18px;
            cursor: pointer;
          }
        }

        .document {
          margin: auto;

          .page-controls {
            display: flex;
            justify-content: space-between;
            background: #fff;
            opacity: 1;
            transition: opacity ease-in-out 0.2s;
            box-shadow: 0 30px 40px 0 rgb(16 36 94 / 20%);
            border-radius: 4px;
            font-size: 20px;
            text-align: center;
            margin: 8px auto;
            width: 200px;
            align-items: center;

            &__page-number {
              min-width: 110px;
            }

            .ant-btn {
              border: none;

              &[disabled] {
                background: transparent;
              }
            }
          }
        }
      }
    }
  }
}
