div.workspace-list-container {
  min-height: 800px;
  div.tab-list {
    min-height: 800px;
  }
  span.workspace-action {
    height: 20px;
    float:right;
    padding-right:10px;
  }
}
div.workspace {
  margin-top: 10px;
  padding-left: 10px;
  > div {
    width: 2489px;
  }
}