@import '../../lib.scss';

.my-data-table {
  margin-top: 30px;
  margin-bottom: 56px;

  .ant-table-column-sorters {
    justify-content: space-between !important;
    width: 100%;
  }

  .ant-table-thead {
    th {
      text-transform: uppercase;
      background-color: #f5f5f5 !important;
      font-family: 'Titillium Web';
      font-style: normal;
      font-weight: 400 !important;
      font-size: 12px;
      line-height: 130%;
      letter-spacing: 0.04em;
      text-transform: uppercase;
      color: #8c8c8c;

      .ant-table-cell-content {
        font-size: 12px;
      }

      &:hover {
        background-color: #f2f2f2 !important;
      }

      &:first-child {
        .ant-table-column-sorters {
          padding-left: 0 !important;
        }
      }
    }
  }

  &-row {
    &.ant-table-row-selected {
      td {
        background-color: #002766 !important;
        color: white !important;

        button {
          color: white !important;
        }
      }

      &:hover {
        td {
          background: #fafafa !important;
          color: #002766 !important;

          button {
            color: #002766 !important;
          }
        }
      }
    }

    td {
      &:first-child {
        padding-left: 0 !important;
      }

      background-color: #f5f5f5 !important;
      border-bottom: 1px solid #d9d9d9 !important;
      color: #003a8c !important;
    }

    &:hover {
      td {
        background: #cbefff !important;
        color: #002766 !important;
      }
    }
  }

  .ant-pagination-options .ant-pagination-options-size-changer {
    display: inline-block !important;
  }
}

.org-project-tag {
  color: #0050b3 !important;
}

.no-resource-with-locate {
  color: #333;
  box-shadow: 0px 2px 12px rgba(0, 0, 0, 0.12);
  width: max-content;
  margin: 0 auto;
  padding: 10px 20px;
  border-radius: 4px;
  user-select: none;
}
