@import '../../lib.less';

.my-data-table {
    margin-top: 30px;
    margin-bottom: 56px;
    .ant-table-column-sorters {
        justify-content: space-between !important;
        width: 100%;
    }
    .ant-table-thead{
        th {
            text-transform: uppercase;
            background-color: @fusion-main-bg !important;
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 400;
            font-size: 12px;
            line-height: 130%;
            letter-spacing: 0.04em;
            text-transform: uppercase;
            color: @fusion-neutral-7;
            &:hover {
                background-color: @fusion-component-background-color !important;
            }
            &:first-child {
                .ant-table-column-sorters {
                    padding-left: 0 !important;
                }
            }
        }
    }
    .my-data-table-row{
        td {
            &:first-child {
                padding-left: 0 !important;
            }
            background-color: @fusion-main-bg !important;
            border-bottom: 1px solid @fusion-neutral-5 !important;
            color: @fusion-daybreak-9 !important;
        }
        &:hover {
            td {
                background: #fafafa !important;
            }
        }
    }
}
.org-project-tag{
    color: @fusion-main-color !important;
}