.sub-activity {
  display: flex;
  align-items: center;
  background-color: #fff;
  padding: 5px 7px;
  border-radius: 6px;
  margin: 0 4px 4px 0;

  &__content {
    margin: 0 10px;
  }

  &__title {
    margin: 0;
    font-size: 14px;
    opacity: 0.8;

    &:hover {
      opacity: 1;
    }
  }

  &__total {
    margin: 0;
  }

  &:last-child {
    margin-bottom: 0;
  }
}
