@import '../lib.less';

.route-header {
    background: @fusion-daybreak-9;
    position: relative;
    height: 440px;
    display: flex;
    align-items: center;

    img {
        position: absolute;
        top: 0;
        right: 0;
        width: 100%;
        height: auto;
    }

    .title {
        padding-left: 14%;
        h2 {
            position: relative;
            font-family: 'Titillium Web';
            z-index: 10;
            font-style: normal;
            font-weight: 700;
            font-size: 70px;
            line-height: 100%;
            color: #FFFFFF;
            margin-bottom: 10px;
        }

        p {
            position: relative;
            font-family: 'Titillium Web';
            font-style: normal;
            font-weight: 400;
            font-size: 20px;
            line-height: 155%;
            padding-left: 6px;
            color: @fusion-daybreak-3;
        }
    }
}