
@import '../../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../../node_modules/codemirror/addon/fold/foldgutter.css';
@import '../../../../node_modules/codemirror/theme/base16-light.css';

button.cancel {
  margin-right: 5px;
}

.cm-s-base16-light span.cm-string.cm-property {
  color: #0070c9;
}

.CodeMirror {
  pre {
    color: #333333;
  }
}

.resource-editor .full-screen-mode {
  .CodeMirror {
    height: calc(100vh - 200px) !important;
  }
}

.sm-string .cm-property {
  color: #333333;
}

.cm-s-base16-light.CodeMirror {
  background-color: #f5f5f5 !important;
}

.resource-editor {

  &._invalid {
    border: 1px solid pink;
  }

  .CodeMirror {
    // overrides default library 300px
    height: 500px !important;
  }
}

.control-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #f0efef;
  padding: @default-pad;
  height: 52px;
  white-space: nowrap;
}

._positive {
  margin-right: 1rem;
  color: @success-color;
}

._negative {
  margin-right: 1rem;
  color: @error-color;
}

.CodeMirror-url-copy {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999 !important;
  cursor: pointer !important;
  box-shadow: 0 2px 12px 0 rgba(#333, 0.12) !important;
  border: 1px solid rgba(#333, 0.12) !important;
  border-radius: 4px !important;
  background-color: #fff !important;
  padding: 0px !important;
  width: 25px !important;
  height: 25px !important;
  &.copied {
    padding: 2px 4px !important;
    width: max-content !important;
  }
  .copied {
    margin-left: 3px;
    color: #333 !important;
  }
}

.code-mirror-editor {
  .cm-fusion-resource-link:not(.cm-property) {
    cursor: pointer !important;
    border: 0.5px solid rgba(#0974ca, 0.14);
    border-radius: 4px;
    background-color: rgba(#0974ca, 0.12);
    padding: 1px;
    color: #0974ca !important;

    &.wait-for-tooltip {
      cursor: progress !important;
    }

    &.has-tooltip {
      cursor: pointer !important;
    }

    &.error {
      cursor: not-allowed !important;
    }
  }

  .CodeMirror-lines {
    cursor: text;
  }

  &.resolution-on-progress {
    .CodeMirror-lines {
      user-select: none;

      .fusion-resource-link {
        cursor: progress !important;
      }
    }
  }
}

.CodeMirror-hover-tooltip-popover,
.CodeMirror-hover-tooltip {
  position: fixed;
  z-index: 9999;
  transition: all 0.4s ease-in-out;
  box-shadow: 0 2px 12px rgba(#333, 0.12);
  border: 1px solid 333;
  border-radius: 4px;
  background-color: white;
  padding: 4px 0;
  max-width: 600px;
  overflow: hidden;
  font-size: 10pt;
  white-space: pre-wrap;

  &.popover {
    background-color: white !important;

    .CodeMirror-hover-tooltip-resources-content {
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: flex-start;

      .CodeMirror-hover-tooltip-item {
        justify-content: flex-start;
        align-items: center;
        cursor: pointer;
        padding: 4px;
        width: 100%;

        .tag {
          background-color: #0083cb;
        }

        &:hover {
          background-color: #e6f7ff;
          color: #0083cb;

          .tag {
            background-color: white;
            color: #0083cb;
          }
        }
      }
    }
  }

  &-content {
    display: flex;
    row-gap: 2px;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;

    &.error {
      .tag {
        background-color: #ff4d4f;
      }
    }

    &.external {
      .tag {
        background-color: #faad14;
        color: #333;
      }
    }

    &.resource {
      .tag {
        background-color: #0083cb;
      }
    }

    &.resources {
      .tag {
        background-color: #0083cb;
      }
    }
  }

  &-item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px 10px 2px 5px;
    overflow: hidden;
    user-select: none;

    .tag {
      margin-right: 5px;
      box-shadow: 0 2px 12px rgba(#333, 0.12);
      border-radius: 4px;
      padding: 2px 5px;
      color: white;
    }

    .title {
      font-weight: 200;
      font-size: 13px;
    }

    .download-icon {
      cursor: pointer;
      margin-left: 10px;
      width: 24px;
      height: 24px;
      color: @fusion-primary-color;
    }

    .key-binding {
      margin-left: 10px;
      color: #0083cb;
    }
  }
}

.editor-controls-panel {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  width: 100%;
}

kbd {
  display: inline-block;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2),
    0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  border: 1px solid #b4b4b4;
  border-radius: 3px;
  background-color: #eee;
  padding: 2px 4px;
  color: #333;
  font-weight: 700;
  font-size: 0.85em;
  line-height: 1;
  white-space: nowrap;
}

.CodeMirror-hover-tooltip-warning {
  .warning-text {
    margin-top: -4px;
    border-top-right-radius: 4px;
    border-top-left-radius: 4px;
    background-color: rgba(red, 0.12);
    padding: 5px 10px;
    font-weight: 600;
  }

  .warning-info {
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    gap: 5px;
    margin-bottom: 5px;
    border-bottom: 1px solid #f0efef;
    padding: 4px 10px;
    color: #0974ca;
    font-size: 13px;
    line-height: 18px;
    .warning-info-icon {
      margin-top: 3px;
      width: 16px;
      height: 16px;
      object-fit: cover;
    }
  }
}
