@import '../../lib.less';
@import '../../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../../node_modules/codemirror/addon/fold/foldgutter.css';
@import '../../../../node_modules/codemirror/theme/base16-light.css';

// codemirror styling
.cm-s-base16-light span.cm-string {
  // string values
}

.cm-s-base16-light span.cm-string.cm-property {
  color: @link-color;
}

.CodeMirror {
  pre {
    color: @text-color;
  }
}

.sm-string .cm-property {
  color: @text-color;
}

.cm-s-base16-light.CodeMirror {
  background-color: white;
}

.resource-editor {
  .interactiveArea();

  &._invalid {
    border: 1px solid pink;
  }

  .CodeMirror {
    // overrides default library 300px
    height: 500px !important;
  }
}

.control-panel {
  display: flex;
  padding: @default-pad;
  height: 52px;
  justify-content: space-between;
  background-color: #f0efef;
}

._positive {
  color: @success-color;
}

._negative {
  color: @error-color;
}

.code-mirror-editor {
  .CodeMirror-lines {
    cursor: text;
  }

  &.resolution-on-progress {
    .CodeMirror-lines {
      cursor: progress !important;
      user-select: none;
    }
  }
}
