@import '../../lib.less';
@import '../../../../node_modules/codemirror/lib/codemirror.css';
@import '../../../../node_modules/codemirror/addon/fold/foldgutter.css';
@import '../../../../node_modules/codemirror/theme/base16-light.css';

// codemirror styling
.cm-s-base16-light span.cm-string {
  // string values
}

.cm-s-base16-light span.cm-string.cm-property {
  color: @link-color;
}

.CodeMirror {
  pre {
    color: @text-color;
  }
}
.resource-editor .full-screen-mode {
  .CodeMirror {
    height: calc(100vh - 200px) !important;
  }
}

.sm-string .cm-property {
  color: @text-color;
}

.cm-s-base16-light.CodeMirror {
  background-color: white;
}

.resource-editor {
  .interactiveArea();

  &._invalid {
    border: 1px solid pink;
  }

  .CodeMirror {
    // overrides default library 300px
    height: 500px !important;
  }
}

.control-panel {
  display: flex;
  padding: @default-pad;
  height: 52px;
  justify-content: space-between;
  background-color: #f0efef;
}

._positive {
  color: @success-color;
}

._negative {
  color: @error-color;
}

.code-mirror-editor {
  .fusion-resource-link {
    text-decoration: underline;
    cursor: pointer;
    &::after {
      content: '';
      display: inline-block;
      background-image: url(../../images/AnchorLink.svg);
      background-repeat: no-repeat;
      background-size: 14px 14px;
      width: 14px;
      height: 14px;
      margin-left: 10px;
    }
  }
  .CodeMirror-lines {
    cursor: text;
  }

  &.resolution-on-progress {
    .CodeMirror-lines {
      user-select: none;
      .fusion-resource-link {
        cursor: progress !important;
      }
    }
  }
}
