@import '../../lib.less';

.my-data-header {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  flex-flow: column nowrap;
  margin-top: 15px;

  .divider {
    width: 100%;
    height: 1px;
    background-color: #e8e8e8;
    margin: 30px 0 18px;
  }
}

.my-data-header-title {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .left {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 10px;
  }

  .right {
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
    gap: 10px;
  }
}

.my-data-header-title_heading {
  user-select: none;
  margin-right: 20px;

  span:first-child {
    font-weight: 700;
    font-size: 30px;
    line-height: 110%;
    color: @fusion-main-color;
  }

  span:last-child {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    letter-spacing: 0.01em;
    color: #8c8c8c;
    padding-left: 10px;
  }
}

.my-data-header-title_issuer_selector {
  width: 100%;
  max-width: max-content;

  .ant-radio + span {
    color: @fusion-main-color;
  }
}

.my-data-header-title_search {
  width: 100%;
  min-width: 250px;
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  gap: 10px;

  // margin-top: 52px;
  .filter-options {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    column-gap: 10px;
    width: 100%;

    .ant-checkbox-inner {
      border-radius: 4px !important;
      border-color: @fusion-main-color !important;
    }
  }

  .locate-text,
  .spread-text {
    user-select: none;
    color: @fusion-main-color;
  }

  .my-data-search {
    border-bottom: 1px solid @fusion-main-color !important;
    min-width: 350px;
    width: 100%;

    .ant-btn {
      border: none;
    }

    .anticon.anticon-search {
      color: @fusion-main-color;
    }
  }
}

.my-data-header-actions {
  width: 100%;
  margin: 0;
  display: flex;
  flex-flow: row wrap;
  gap: 15px;
  align-items: center;
  justify-content: flex-start;
  align-content: center;

  .filter-heading {
    font-weight: 400;
    font-size: 14px;
    line-height: 110%;
    color: @fusion-neutral-7;
  }

  .date-field-selector {
    width: 100%;
    max-width: max-content;

    span {
      color: @fusion-main-color;
    }
  }

  .my-data-date-picker {
    width: 100%;
    max-width: 300px;

    input::placeholder,
    input::-webkit-input-placeholder {
      color: @fusion-main-color !important;
    }
  }

  .my-data-type-picker {
    width: 100%;
    max-width: 300px;

    .ant-select-selection-placeholder {
      color: @fusion-main-color !important;
    }
  }
}

.radio-filter {
  &.ant-radio-wrapper-checked {
    span:nth-child(2) {
      font-weight: 700;
    }
  }
}

.date-type-selector {
  display: flex !important;
  align-items: center;
  justify-content: space-between;
  gap: 15px;
  margin-bottom: 15px !important;
}

.my-data-date {
  &-container {
    position: relative;
  }

  &-type-popover {
    background-color: #fff !important;
    border: 1px solid #fff !important;
    box-shadow: 0 2px 8px rgb(#333, 0.15) !important;
    padding: 0px !important;
  }

  &-popover {
    // position: absolute;
    // width: calc(100% + 1px);
    // top: 35px;
    // left: 0;
    background-color: #fff;
    border: 1px solid #fff;
    z-index: 10;
    padding: 20px 10px;
    box-shadow: 0 2px 8px rgb(#333, 0.15);

    .ant-popover-arrow {
      display: none;
    }
  }

  &-content {
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    p {
      font-size: 10px;
      color: red;
    }

    .range-born {
      font-weight: 200;
      color: @fusion-blue-4;
      align-self: flex-start;
    }
  }

  &-range {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-between;
    // grid-template-rows: repeat(2, 1fr);
    gap: 3px;
  }

  &-input {
    border: none !important;
    border-bottom: 1px solid;
    width: 100%;
    letter-spacing: 1.3px;
    font-size: 14px;

    &:focus {
      outline: none;
      box-shadow: none;
    }

    &:nth-child(2) {
      text-align: right;
    }
  }
}

.my-data-date-picker,
.my-data-type-filter,
.my-data-type-picker {
  background-color: @fusion-main-bg !important;
  border-color: @fusion-neutral-5 !important;

  .ant-input::placeholder,
  .ant-select-selection-placeholder {
    color: @fusion-daybreak-10 !important;
  }

  .ant-select-selection-overflow {
    flex-wrap: nowrap;
    overflow: scroll;

    // style the scrollbar of this ant-select-selection-overflow
    &::-webkit-scrollbar {
      width: 2px;
      height: 2px;
    }

    &::-webkit-scrollbar-thumb {
      background: @fusion-daybreak-10;
    }
  }
}

.my-data-type-filter {
  &-overlay {
    background-color: white;
    box-shadow: 0 2px 8px rgb(#333, 0.15) !important;
    padding: 10px 10px;
    height: 100%;
  }

  &-content {
    max-height: inherit;
    height: 100%;
    max-height: 200px;
    overflow-y: scroll;
    padding: 2px;

    &::-webkit-scrollbar {
      display: none;
    }

    -ms-overflow-style: none;
    scrollbar-width: none;
  }
}

.select-row {
  cursor: pointer;
  font-size: 15px;
  font-weight: 600;
  line-height: 15.6px;
  color: @fusion-blue-8;
  padding: 7px 10px;

  &:hover {
    background-color: #efefefba;
  }
}
